extends layout

block content
    form(action='/', method='POST')
        div.form-group
            label(for='name') Name
            input(placeholder='Name', name='name').form-control#name
        div.form-group
            label(for='url') Url
            input(placeholder='http://', name='url').form-control#url
        div.form-group
            label(for='desired-price') Desired price
            input(placeholder='-,--€', name='desiredPrice', type='number').form-control#desired-price
        div.form-group
            label(for='email') Email
            input(placeholder='xxx@email.com', name='email', type='email').form-control#email
        button(type='submit').btn.btn-primary Add
