extends layout

block content
  h1.mt-2 Price tracker
  p Welcome to Price Tracker

  a(href='/add-item').btn.btn-primary Add item

  table.table.table-hover.mt-2
    thead
      tr
        th Local name
        th Website name
        th Price
        th Tracking price
    tbody
      each item in items
        tr(onclick='goTo(\''+item._id+'\')')
          td=item.name
          td #{item.details.name}
          td #{item.data.current.price} €
          td #{item.watches.length > 0 ? item.watches[0].price : '&mdash;'} €

  script.
    function goTo(id) {
      window.location = '/item/' + id;
    }
