extends layout

block content
  h2.mt-2
    span #{item.name}&nbsp;
    small.text-muted #{item.details.name}

  div.side-by-side
    div.side
      span Availability
      span.highlight #{item.data.current.availability}
    div.side
      span Current price
      span.highlight #{item.data.current.price} €
    div.side
      span Desired price
      span.highlight #{item.watches.length > 0 ? item.watches[0].price : '&mdash;'} €

  h4 Details

  p
    span Created:&nbsp;
      b #{new Date(item.created).toLocaleString()}
    br
    span Updated:&nbsp;
      b #{new Date(item.updated).toLocaleString()}
    br
    span Module:&nbsp;
      b #{item.module}
    br
    span Refreshing every:&nbsp;
      b #{item.tracking.refreshInterval} minutes
    br
    span Last refresh took:&nbsp;
      b #{item.tracking.lastRefreshTime / 1000} seconds
    br
    //span Minimum price:&nbsp;
    //  b #{item.stats.minPrice} €
    //br
    //span Maximum price:&nbsp;
    //  b #{item.stats.maxPrice} €
    //br
    span Url:&nbsp;
      a(href=item.url, target='_blank') #{item.url}
    br

  h4 History of price

  div(style='height: 400px')#chart

  script.
    // Fetch
    const item = !{JSON.stringify(item.toObject())};
    const entries = item.data.prices;
    const now = new Date();

    const data = entries.map(e => ({
      date: new Date(e.date),
      value: e.price,
    }));

    // Make sure the first date is at least 1 month old
    // const minDate = new Date(now.setMonth(now.getMonth() - 1));
    // if (minDate < entries[0].date) {
    //   data.unshift({
    //     date: minDate,
    //   });
    // }

    data.push({
      date: now,
      value: item.data.current.price,
    });

    am4core.ready(() => {
      am4core.useTheme(am4themes_animated);

      const chart = am4core.createFromConfig({
        data,
        cursor: {
          type: 'XYCursor',
          fullWidthLineX: true,
          xAxis: 'dateAxis',
          lineX: {
            strokeWidth: 0,
            fillOpacity: 0.1,
          },
          lineY: {
            disabled: true,
          },
        },
        xAxes: [{
          type: 'DateAxis',
          id: 'dateAxis',
        }],
        yAxes: [{
          type: 'ValueAxis',
          min: 0,
          axisRanges: (item.watches.length === 0 ? [] : [{
            value: item.watches[0].price,
            grid: {
              above: true,
              stroke: '#A96478',
              strokeWidth: 2,
              strokeOpacity: 1,
            }
          }]),
        }],
        series: [{
          type: 'StepLineSeries',
          id: 's1',
          dataFields: {
            valueY: 'value',
            dateX: 'date',
          },
          name: 'Price',
          tooltipText: '{valueY.value}',
          strokeWidth: 3,
          fillOpacity: 0.3,
          propertyFields: {
            stroke: 'lineColor',
            fill: 'lineColor',
          },
        }],
        scrollbarX: {
          type: 'XYChartScrollbar',
          series: ['s1'],
        },
      }, 'chart', am4charts.XYChart);

      // Modify some properties
      chart.scrollbarX.parent = chart.bottomAxesContainer;
      chart.cursor.lineX.fill = chart.colors.next();
    });
