doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://www.amcharts.com/lib/4/core.js')
    script(src='https://www.amcharts.com/lib/4/charts.js')
    script(src='https://www.amcharts.com/lib/4/themes/animated.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand Price Checker
      div.collapse.navbar-collapse
        div.navbar-nav
          a.nav-item.nav-link(href='/') Home

    div.container
      block content

    script.
      function limitCharacters(text, max) {
        return text.length > max ? text.substring(0, max - 2) + '...' : text;
      }
