a {
  color: #00B7FF;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  font-size: 22px;
}

.side {
  display: block;
  flex-grow: 1;
  text-align: center;
}

.side span {
  display: block;
}

.highlight {
  font-size: 110%;
  font-weight: bold;
  text-transform: capitalize;
}
